.Layout {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    color: black;
}

.layout-header{
    grid-column: 0 / 2;
    background-color: #F6E8EA;
    align-items: center;
    padding: 2rem 1rem;
}

.layout-main {
    background-color: #F5D9DD;
    grid-column: 2 / 8;
    padding: 2rem 1rem;
    overflow: hidden;
}

.layout-stats{ 
    background-color: #F6E8EA;
    grid-column: 8 / 10;
    padding: 2rem 1rem;
}