// $text-color: #22181C;
$text-color: #FFFFFF;
$primary-color: #F6E8EA;
$secondary-color: #ff2b59;
$font-family: 'Montserrat', sans-serif;
$font-family-secondary: 'Montserrat Alternates', sans-serif;

.Navbar{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nav-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.nav-logo {
    font-family: $font-family;
    font-weight: 700;
    font-size: 2.5rem;
    color: $text-color;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    font-family: $font-family;
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: rgba($color: $text-color, $alpha: 0.7);
}

.link.active {
    color: $secondary-color;
}

.nav-logout {
    display: flex;
    align-items: center;
    justify-content: center;

    .logout-button {
        width: 150px;
        font-family: $font-family-secondary;
        font-weight: 600;
        font-size: 1.2rem;
        // border-radius: 5px;
        border: none;
        background-color: $secondary-color;
        color: $primary-color;
        padding: 1rem 1.5rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba($color: #22181C, $alpha: 0.8);
            color: $secondary-color;
            transition: all 0.3s ease;
        }
    }
}