.Navbar{
    font-size: 1.5rem;
    width: 100%;
    max-width: 1440px;
    // border: 1px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-brand, .nav-links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link {
    text-decoration: none;
    color: rgba($color: #FFFFFF, $alpha: 0.7);
}

.link.active {
    color: #27ff6f;
}